<%= form_for(@idea) do |f| %>

  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this phone_number from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Idea %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Details %><br>
    <%= f.text_field :body %>
  </div>
  <div>
  <%= f.collection_select(:category_id, Category.all, :id, :theme) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>