
<h1> Welcome <%= @user.username %></h1>

<h3>Here are your ideas:</h3>
<ul>
<% @ideas.each do |idea| %>
  <li> <strong><%=idea.category.theme  %></strong>: <%=link_to idea.title, idea %>: <%= idea.body %></li>
  <% end %>
</ul>



<%= link_to "New Idea", new_idea_path  %>